.search__bar{
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 50px;
    box-shadow: rgba(17,12,46,0.15) 0px 48px 100px 0px;
    width: max-content;
    margin-top: 50px;
    margin-left: 8rem;
    margin-right: 8rem;
    justify-content: center;
    display: flex;
}

.form__group{
    font-size: 2rem;
    color: var(--primary-color);
    display: flex;
}

.form__group input{
    border: none;
    font-size: 1rem;
    color: var(--heading-color);
    display: flex;
}
.form__group input:focus{
   outline:none

}
.form__group h5{
    margin-bottom: 0;
}
.form__group-fast{
    border-right: 2px solid #ddd;
}
.search__icon{
    font-size: 2rem;
    padding: 1rem;
    padding-top: 2.8rem;
    background-color: var(--secondary-color);
    color: white;
    border-radius: 10px 50px 50px 10px ;
    align-items: center;
    border:0;
    outline: 0;
    size: 2rem;
    
}
/* CSS for the "descrip" section */
.descrip {
    background-color: #f5f5f5; /* Background color for the section */
    padding: 20px; /* Add some padding to the section */
    border-radius: 5px; /* Rounded corners for a card-like appearance */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
  
    /* Center align text and elements */
    text-align: center;
  }
  
  /* Style the "Generated Travel Plan" heading */
  .descrip h2 {
    font-size: 32px; /* Increase font size for the heading */
    color:var(--primary-color); /* Text color */
    margin-bottom: 10px; /* Add some spacing below the heading */
  }
  
  /* Style the generated plan text */
  .descrip p {
    font-size: 18px; /* Set font size for the generated plan text */
    color: #666; /* Text color */
    line-height: 1.5; /* Set line height for better readability */
  }
  
  /* Add spacing between heading and plan text */
  .descrip h2 + p {
    margin-top: 10px;
  }
  
  /* Center align the entire "descrip" section */
  .descrip {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  